/**
 * Development stylesheet.  Use this file for development purposes by adding this to your 'wp-config.php' file:
 * define( 'SCRIPT_DEBUG', true );
 * This allows you to build large-sized stylesheets with plenty notes and comments. Before releasing, compress
 * this file and replace the compressed CSS in the 'style.css' file.
 * @link http://www.cssdrive.com/index.php/main/csscompressor
 */


/* 25px reset. */
html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;vertical-align:baseline;outline:none;font-size:100%;background:transparent;border:none;text-decoration:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}b,i,hr,u,center,menu,layer,s,strike,font,xmp{margin:0;padding:0;vertical-align:baseline;outline:none;font-size:100%;font-weight:normal;font-style:normal;background:transparent;border:none;text-decoration:none}body{line-height:25px;font-family:Georgia,Times,"Times New Roman",serif;color:#333;background:#fff}h1,h2,h3,h4,h5,h6{font-style:normal;font-weight:normal;margin:0 0 25px 0}h1{font-size:1.8em}h2{font-size:1.7em}h3{font-size:1.55em}h4{font-size:1.4em}h5{font-size:1.25em}h6{font-size:1.1em}p{margin:0 0 25px 0}ol,ul{list-style:none}ul{list-style:disc;margin:0 0 25px 2.5em}ol{list-style-type:decimal;margin:0 0 25px 3em}ol ol{list-style:upper-roman}ol ol ol{list-style:lower-roman}ol ol ol ol{list-style:upper-alpha}ol ol ol ol ol{list-style:lower-alpha}ul ul,ol ol,ul ol,ol ul{margin-bottom:0}dl{margin:0 0 25px 5px}dl dt{font-weight:bold;margin:10px 0 0 0}dl dd{margin:5px 0 0 1.5em}strong{font-weight:bold}strong strong{font-weight:normal}em,cite{font-style:italic}em em,cite cite{font-style:normal}abbr{cursor:help}acronym{text-transform:uppercase;border-bottom:1px dashed #666;cursor:help}big{font-size:120%}small,sup,sub{font-size:80%}sup{vertical-align:baseline;position:relative;bottom:0.3em}sub{vertical-align:baseline;position:relative;top:0.3em}address{font-style:italic;margin:0 0 25px 0}li address,dd address{margin:0}blockquote{margin:0 25px;font-style:normal}blockquote em,blockquote cite{font-style:italic}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{cursor:pointer}a img{border:none}pre{overflow:auto;font:.9em Monaco,monospace,Courier,"Courier New";line-height:25px;margin-bottom:25px;padding:10px}code{font:.9em Monaco,monospace,Courier,"Courier New"}pre code{font-size:1em}ins,dfn{font-style:italic;text-decoration:none;border-bottom:1px solid #666}del,s,strike{text-decoration:line-through}object{margin-bottom:25px}input,textarea{font-size:1em;padding:3px}input[type="submit"]{cursor:pointer}:focus{outline:none}form label{cursor:pointer}option{padding:1px 2px}table{border-collapse:collapse;border-spacing:0;margin-bottom:25px}th,td{text-align:left}hr{height:1px;margin-bottom:25px;background:#333}img.wp-smiley{max-height:12px;margin:0;padding:0;border:none}.gallery{display:block;text-align:center;margin-bottom:25px}.alignleft,.left{float:left;margin-right:20px}.alignright,.right{float:right;margin-left:20px}.aligncenter,.center{display:block;margin:0 auto 25px auto}.alignnone,.block{clear:both;margin:0 0 25px 0}.clear{clear:both}img.alignleft,img.alignright{display:inline}blockquote.alignleft,blockquote.alignright{width:33%}

/* Galleries. */
.gallery{display:block;clear:both;overflow:hidden;margin:0 auto}.gallery .gallery-row{display:block;clear:both;overflow:hidden;margin:0}.gallery .gallery-item{overflow:hidden;float:left;margin:0;text-align:center;list-style:none;padding:0}.gallery .gallery-item .gallery-icon img{width:auto;max-width:89%;height:auto;padding:1%;margin:0 auto}.gallery-caption{margin-left:0}.gallery .col-0{width:100%}.gallery .col-1{width:100%}.gallery .col-2{width:50%}.gallery .col-3{width:33.33%}.gallery .col-4{width:25%}.gallery .col-5{width:20%}.gallery .col-6{width:16.66%}.gallery .col-7{width:14.28%}.gallery .col-8{width:12.5%}.gallery .col-9{width:11.11%}.gallery .col-10{width:10%}.gallery .col-11{width:9.09%}.gallery .col-12{width:8.33%}.gallery .col-13{width:7.69%}.gallery .col-14{width:7.14%}.gallery .col-15{width:6.66%}.gallery .col-16{width:6.25%}.gallery .col-17{width:5.88%}.gallery .col-18{width:5.55%}.gallery .col-19{width:5.26%}.gallery .col-20{width:5%}.gallery .col-21{width:4.76%}.gallery .col-22{width:4.54%}.gallery .col-23{width:4.34%}.gallery .col-24{width:4.16%}.gallery .col-25{width:4%}.gallery .col-26{width:3.84%}.gallery .col-27{width:3.7%}.gallery .col-28{width:3.57%}.gallery .col-29{width:3.44%}.gallery .col-30{width:3.33%}

/* Drop-downs. */
div.menu ul{margin:0;padding:0;list-style:none;line-height:1.0}div.menu ul ul{position:absolute;top:-999em;width:10em}div.menu ul ul li{width:100%}div.menu li:hover{visibility:inherit}div.menu li{float:left;position:relative}div.menu a{display:block;position:relative}div.menu li:hover ul,li.sfHover ul{left:0;top:2em;z-index:99}div.menu li:hover li ul,li.sfHover li ul{top:-999em}div.menu li li:hover ul,li li.sfHover ul{left:10em;top:0}div.menu li li:hover li ul,li li.sfHover li ul{top:-999em}div.menu li li li:hover ul,li li li.sfHover ul{left:10em;top:0}

/***/
/** Elements*/
/***************************************/
/* Links */
a,
a code{
    color:#61ADA3
}
a:hover{
    text-decoration:underline
}

/* Headers */
h1, h2, h3, h4, h5, h6{
    color:#61ADA3;
	font-family:Cabin,Georgia,Times,'Times New Roman',serif;
	font-weight: 500;
}
h2{
    font-size:24px
}
h3{
    font-size:22px
}
h4{
    font-size:20px
}
h5{
    font-size:18px
}
h6{
    font-size:16px
}

/* Lists */
ul{
    list-style:circle;
    margin: 0 0 25px 3em
}

/* Definition lists. */
dl{
    margin:0 0 25px 0
}
dl dt{
    margin:0;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
}
dl dd{
    margin:0 0 5px 10px;
    padding:0;
    font-size:14px;
}

/* Blockquotes */
blockquote{
    overflow:hidden;
    margin:0 0 25px 0;
    padding:25px 25px 0 25px;
	font:normal normal normal 18px/28px Cabin, Arial,Verdana,sans-serif;
    background:transparent url(images/quotes.png) no-repeat 15px 15px;
}
blockquote a{
    text-decoration:underline
}
blockquote a:hover{
    text-decoration:none
}
blockquote strong{
    font-weight:normal
}

/* Horizontal rule */
hr{
    height:1px;
    background:#e1e1e1
}

/* Tables */
table{
    margin:0 0 25px 0;
    width:100%;
    border-left:1px solid #e1e1e1;
    border-right:1px solid #e1e1e1;
    background:#fff
}
table caption{
	font:normal normal normal 13px/25px Cabin, Arial,Verdana,sans-serif;
    color:#61ADA3
}
table th{
	font:normal normal bold 13px/25px Cabin,Arial,Verdana,sans-serif;
    padding:4px 2%;
    color:#61ADA3;
    background:#FFF;
    border-top:1px solid #e1e1e1;
    border-bottom:1px solid #e1e1e1;
    border-right:1px solid #e1e1e1;
    text-align:left
}
td{
    padding:4px 2%;
    border-bottom:1px solid #e1e1e1;
    border-right:1px solid #e1e1e1
}
tr {
    background: #F3F3F3;
}
tr.alternate {
    background: #FFF;
}
table a{text-decoration:underline}

/* Acronyms and abbreviations */
acronym,
abbr{
    border-bottom:1px dotted #e1e1e1
}

/* Code */
code{
    color:#61ADA3
}
pre{
    padding:20px;
    background:#F3F3F3 url(images/code.png) no-repeat 15px 15px;
    border:1px dotted #e1e1e1
}
pre code{
    color:#989898
}

/* Forms */
form label{
    font-size: 13px;
    line-height: 25px;
    color:#989898
}
input[type="text"]{
    display:block;
    width:50%;
}
input[type="submit"]{
    cursor:pointer
}
textarea{
    width:98.5%
}

/***/
/** Images*/
/***************************************/
/* Images in post content. */
.hentry img,
.gallery img{
    max-width:620px;
    height:auto;
    padding:4px;
    background:#f3f3f3;
    border:1px solid #e1e1e1
}
.layout-3c-l .entry-content img,
.layout-3c-r .entry-content img,
.layout-3c-c .entry-content img{
    max-width:510px
}
.layout-1c .entry-content img{
    max-width:970px
}

/* Thumbnails */
.thumbnail{
    float:left;
    width:125px;
    margin:0 15px 5px 0;
    padding:4px;
    background:#f3f3f3;
    border:1px solid #e1e1e1
}

/* Smiley */
img.wp-smiley{
    max-width:12px;
    padding:0;
    background:transparent;
    border:none
}

/* Captions [caption] */
.wp-caption{
    overflow:hidden;
    max-width:620px;
    padding:9px 4px;
    background:#f3f3f3;
    border:1px dotted #e1e1e1;
    border-bottom:2px solid #e1e1e1;
    text-align:center
}
.layout-3c-l .wp-caption,
.layout-3c-r .wp-caption,
.layout-3c-c .wp-caption{
    max-width:510px
}
.layout-1c .wp-caption{
    max-width:970px
}
.wp-caption img{
    max-width:604px;
    margin:0 0 5px 0;
    padding:2px;
    background:#f3f3f3;
    border:1px solid #f3f3f3
}
.layout-3c-l .wp-caption img,
.layout-3c-r .wp-caption img,
.layout-3c-c .wp-caption img{
    max-width:496px
}
.layout-1c .wp-caption img{
    max-width:954px
}
.wp-caption .wp-caption-text{
    margin:0 4px;
    font-size: 12px;
    line-height: 12px;
    text-align:right
}

/* Galleries [gallery] */
.gallery{
    margin-bottom:15px
}
.gallery img{
    margin-bottom:0
}
.gallery .gallery-item{
    margin-bottom:5px
}
.gallery-caption{
    font-size: 13px;
    line-height: 25px;
}
.singular-attachment .hentry .gallery-caption,
.singular-attachment .attachment-meta .gallery-caption{
    display:none;  /* Hide captions in gallery on attachment pages. This is a theme feature. */
}


/***/
/** Container*/
/***************************************/
#container{
    width:1040px;
    margin:60px auto;
    background:#FFF;
    -webkit-box-shadow: 0px 0px 2px #b5b5b5;
    -moz-box-shadow: 0px 0px 2px #b5b5b5;
    box-shadow: 0px 0px 2px #b5b5b5;
}

/***/
/** Header*/
/***************************************/
#header{
    overflow:hidden;
    width:100%;
    height:70px;
    padding:20px 0;
    border-bottom:10px solid #61ADA3
}
#header .wrap{
    width:980px;
    margin:0 auto
}

#branding{
    width:350px
}

/* Site title */
#site-title{
    position:relative;
    z-index:99;
    margin:5px 0 5px 0;
    letter-spacing:1px;
	font:normal normal normal 36px/36px Cabin,Georgia,Times,'Times New Roman',serif;
    	font-weight: 500;
}
#site-title a,
#site-title a:hover{
    color:#373737;
    text-decoration: none;
}

/* Site description */
#site-description{
    position:relative;
    z-index:99;
    margin:0;
    font:italic normal normal 15px/25px Georgia,Times,'Times New Roman',serif;
    color:#818181
}

/***/
/** Primary menu*/
/***************************************/
#menu-primary{
    position:relative;
    width:980px;
    height:38px;
    margin:-80px auto 42px auto
}
#menu-primary ul{
    float:right
}
#menu-primary li{
    margin-left:25px;
    padding:0;
    background:transparent
}
#menu-primary li li{
    margin-left:0
}
#menu-primary li a{
    padding:10px 20px;
    font-size: 11px;
    line-height: 14px;
    text-transform:uppercase;
    color:#fff;
    background:#61ADA3
}
#menu-primary li a:hover,
#menu-primary li.sfHover a,
#menu-primary li.current-menu-item a,
#menu-primary li li.current-menu-item li a{
    color:#fff;
    background:#989898;
    text-decoration:none
}

/* Drop-down styles */
#menu-primary li:hover ul, #menu-primary li.sfHover ul{
    top:34px
}
#menu-primary li:hover li ul, #menu-primary li.sfHover li ul{
    top:-999em
}
#menu-primary li li:hover ul, #menu-primary li li.sfHover ul{
    top:-1px;
    margin-left:0
}

/***/
/** Breadrumbs*/
/***************************************/
.breadcrumbs{
    margin:0px auto 25px auto;
    padding:6px 0;
    font-size:13px;
    line-height:13px;
    color:#999;
}
.breadcrumbs a{
    color:#61ADA3
}
.breadcrumbs .trail-before{
    margin-right:3px
}
.breadcrumbs .sep{
    margin-right:3px;
    margin-left:3px
}
.breadcrumbs .trail-end{
    font-style:italic
}

/***/
/** Content*/
/***************************************/
/* Post container */
.hentry{
    position:relative;
    margin:0 0 25px 0;
    padding:20px 0px;
    border-bottom: 1px solid #e1e1e1;
}
.singular .hentry{
    border-bottom: none;
}

/* Sticky posts */
.sticky{
    background:#fefefe;
    padding: 20px 20px 0    20px;
    border:5px solid #e1e1e1;
}

/* Post title */
.entry-title{
	font:normal normal normal 22px/22px Cabin,Georgia,Times,'Times New Roman',serif;
    	font-weight: 500;
    margin:0 0 5px 0
}
.singular .entry-title,
.error-404 .entry-title{
    margin-bottom:25px;
    font-size:25px
}
.singular-post .entry-title{
    margin-bottom:5px
}
.entry-title a,
.entry-title a:hover {
    color:#61ADA3;
}
.singular .entry-title a,
.singular .entry-title a:hover {
    color:#61ADA3;
    text-decoration: none;
}

/* Post byline */
.byline{
    margin:0 0 5px 0;
    font-size: 12px;
    line-height: 25px;
    color:#999
}
.singular .byline{
    margin:0 0 25px 0
}
.byline a{
    color:#666;
    border-bottom:1px solid #e1e1e1;
}
.byline a:hover{
    background:#f3f3f3;
    border-bottom:1px solid #e1e1e1;
    text-decoration:none}
.byline abbr{
    border:none
}

/* Post excerpts */
.entry-summary p{
    margin:0 0 10px
}
.search .entry-summary p{
    margin:0 0 5px 0
}

/* Post metadata */
.entry-meta{
    clear:both;
    margin:0 0 20px 0;
    font-size: 12px;
    line-height: 25px;
    color:#999
}
.entry-meta a{
    color:#666;
    border-bottom:1px solid #e1e1e1;
}
.entry-meta a:hover{
    background:#f3f3f3;
    border-bottom:1px solid #e1e1e1;
    text-decoration:none
}

/* Image meta */
.attachment-meta{
    overflow:hidden;
    margin:0 0 25px 0;
    padding:20px 20px 0 20px;
    background:#fefefe;
    border:5px solid #e1e1e1;
}
.attachment-meta .image-gallery{
    width:60%;
    float:right
}
.attachment-meta .image-info{
    width:33%;
    float:left
}
.attachment-meta .image-info li{
    font-size:14px;
    font-style:italic;
}
.image-info .prep{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-transform:uppercase;
}
.image-info .image-data{
    float:right; text-align:right
}

/***/
/** Loop elements*/
/***************************************/
/* Loop meta */
.loop-meta{
    overflow:hidden;
    margin:0 0 25px 0;
    padding:20px 20px 0 20px;
    background:#fefefe;
    border:5px solid #e1e1e1;
}

/* Loop title */
.loop-title{
    margin-bottom:20px;
	font:normal normal bold 20px/25px Cabin,Georgia,Times,'Times New Roman',serif;
    	font-weight: 500;
}

/* Loop description */
.loop-description{
    font-style:italic;
    font-size:15px;
    color:#999
}
.loop-description p{
    margin-bottom:20px
}
.loop-description em{
    font-style:normal
}
.loop-description .avatar{
    float:right;
    width:60px;
    height:60px;
    margin:0 0 10px 15px;
    padding:4px;
    background:#f3f3f3;
    border:1px solid #e1e1e1
}

/***/
/** Pagination and prev/next links*/
/***************************************/
.pagination,
.page-links,
.comment-pagination{
    overflow:hidden;
    clear:both;
    font-size:13px;
    font-weight:bold;
    line-height:13px;
    margin:0 0 25px 0
}
.pagination{ /*Leave room for box-shadow on page numbers.*/
    margin-bottom:23px;
    padding-bottom:2px
}
.page-links{
    padding:7px 0 0 0
}
.pagination .page-numbers{
    float:left;
    display:inline-block;
    margin:0 15px 0 0px;
    padding:11px 15px;
    font-weight:bold;
    color:#fff;
    background:#61ADA3;
    -moz-box-shadow:2px 2px 5px #999;
    -webkit-box-shadow:2px 2px 5px #999;
    box-shadow:2px 2px 5px #999
}
.page-links a{
    float:none;
    margin:0 7px;
    padding:8px 12px;
    display:inline-block;
    font-weight:bold;
    color:#fff;
    background:#61ADA3
}
.entry-summary .page-links a{
    margin:0 4px;
    padding:5px 9px
}
.pagination a:hover,
.page-links a:hover{
    background:#989898;
}
.pagination .current{
    background:#989898
}
.loop-nav{
    width:100%;
    overflow:hidden;
    margin:0 0 23px 0;
    padding:0 2px 2px 0;  /*Leave room for box-shadow on prev/next.*/
    font-size:13px;
    font-weight:bold;
    line-height:13px
}
.loop-nav .previous,
.loop-nav .next{
    float:left;
    margin:0;
    padding:11px 15px;
    font-weight:bold;
    color:#fff;
    background:#61ADA3;
    -moz-box-shadow:2px 2px 5px #999;
    -webkit-box-shadow:2px 2px 5px #999;
    box-shadow:2px 2px 5px #999
}
.loop-nav .next{
    float:right;
    text-align:right
}
.loop-nav a:hover span{
    background:#989898
}

/***/
/** Sidebars and widgets*/
/***************************************/
/* Primary and Secondary sidebar */
#sidebar-primary, #sidebar-secondary{
    font-size:14px
}

/* Widgets */
.widget{
    margin:0 0 25px 0;
    padding:20px 20px 0 20px;
}

/* Widget titles */
.widget-title{
    font-size:21px;
    text-transform: uppercase;
}
#sidebar-primary .widget-title,
#sidebar-secondary .widget-title{
    font-size:18px
}

/* Calendar widget */
#wp-calendar {
    font-size: 14px;
}
#wp-calendar a{ /*WP needs to fix this ID issue.*/
    font-size:.9em;
    font-weight:bold;
    color:#61ADA3
}
#wp-calendar #next a,
#wp-calendar #prev a{
    font-size:1em;
    font-weight:normal;
    color:#61ADA3
}

/* Search widget */
.widget-search{
    padding:25px !important;
    background:#f3f3f3 !important;
    border:none !important
}
.widget-search form{
    overflow:hidden
}
.widget-search input[type="text"]{
    display:block;
    width:96%;
    padding:5px 0 5px 0.7em;
    font-style:italic;
    font-size:13px;
    color:#989898;
    background:#fff;
    border: 1px solid #e1e1e1;
}
.layout-3c-l .widget-search input[type="text"],
.layout-3c-r .widget-search input[type="text"],
.layout-3c-c .widget-search input[type="text"]{
    width: 93%;
}
.widget-search input[type="submit"],
.widget-search label{
    display:none
}
.error-404 .hentry .search-form{
    margin-bottom:25px
}
.error-404 .hentry .search-form input[type="text"]{
    display: inline;
    font-style: italic;
    font-size: 13px;
    color: #989898;
    border: 1px solid #e1e1e1;
}

/***/
/** Comments*/
/***************************************/
#comments-number{
    margin:0 0 25px 0;
}

/* Comment pagination */
.comments-nav{
    float:right;
    position:relative;
    line-height:29px;
    margin:-80px 25px 10px 0
}
.comments-nav .page-numbers{
    font-size:10px;
    text-transform:uppercase;
    color:#989898
}
.comments-nav .prev,
.comments-nav .next{
    background:url('images/comments-nav.png') 0 0 no-repeat;
    display:inline-block; margin:0 0 0 10px;
    height:29px;
    width:29px;
    text-indent:-9999px
}
.comments-nav .next{
    background-position:0 -29px
}

/* Comment list. */
.comment-list,
.comment-list ol.children{
    list-style:none;
    margin:0
}
.comment-list li.comment,
.comment-list li.pingback,
.comment-list li.trackback{
    overflow:hidden;
    margin:0 0 25px 0;
    padding:20px 20px 0 20px;
    background:#fefefe;
    border:1px solid #e1e1e1;
}
.comment-list li li.comment{
    background:#f3f3f3;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none
}
.comment-list li li.comment,
.comment-list li li li li li li li.comment{
    border:1px solid #e1e1e1;
    border-left:5px solid #e1e1e1
}
.comment-list li li li.comment,
.comment-list li li li li li li li li.comment{
    background: #fefefe;
    border:1px solid #e1e1e1;
    border-left:1px solid #e1e1e1
}
.comment-list li li li li.comment,
.comment-list li li li li li li li li li.comment{
    background: #f3f3f3;
    border:1px solid #e1e1e1;
    border-left:5px solid #e1e1e1
}
.comment-list li li li li li.comment,
.comment-list li li li li li li li li li li.comment{
    background: #fefefe;
    border:1px solid #e1e1e1;
    border-left:5px solid #e1e1e1
}
.comment-list li li li li li li.comment,
.comment-list li li li li li li li li li li li.comment{
    background: #f3f3f3;
    border:1px solid #e1e1e1;
    border-left:5px solid #e1e1e1
}
.bypostauthor{} /* WP.org theme repo compatibility */

/* Comment avatars */
.comment-list .avatar{
    float:left;
    width:46px;
    height:46px;
    margin:0 15px 10px 0;
    padding:2px;
    background:#f3f3f3;
    border:2px solid #e1e1e1
}

/* Comment metadata */
.comment-meta{
    margin:0 0 10px 0;
    font-size: 12px;
    line-height: 25px;
}
.comment-meta a{
    color:#666;
    border-bottom:1px solid #e1e1e1
}
.comment-meta a:hover{
    background:#f2ede2;
    border-bottom:1px solid #e1e1e1;
    text-decoration:none
}

/* Comment author */
.comment-author{
    display:block;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
}
.comment-author a, .comment-author a:hover{
    color:#61ADA3;
    background: none;
    border-bottom: none;
}
.comment-author cite{
    font-style:normal
}

/* Comment reply link */
a.comment-reply-link{
    font-weight:bold;
    color:#61ADA3;
    border-bottom:none
}
a.comment-reply-link:hover{
    background:#f2ede2
}

/* Comment published date/time */
.comment-meta abbr{
    border:none
}

/* Comment text */
.comment-text{
    clear:left
}

/* Comments closed. */
.comments-closed{
    margin:0 0 25px 0;
    padding:20px;
    color:#999;
    background:#fefefe;
    border:1px solid #e1e1e1;
}

/***/
/** Comment form*/
/***************************************/
/* Comment form wrapper */
#respond{
    overflow:hidden;
    margin:0 0 25px 0;
    padding-top: 20px;
}
.comment-list #respond{
    margin-top:25px
}

/* Logged-in text */
#respond .log-in-out{
    font-size:15px;
    color:#989898
}
#respond .log-in-out a{
    font-style:italic
}

/* Cancel reply link */
#reply-title small a{
    font-size: 14px;
    line-height: 25px;
    font-style: italic;
}

/* Comment form paragraphs */
#respond p.form-author{
    float:left; width:50%
}
#respond p.form-email{
    overflow:hidden;
    float:right; width:50%
}
#respond p.form-url{
    clear:both
}

/* Comment form labels */
#respond label{
    font-size: 13px;
    line-height: 25px;
}
#respond p.form-email label{
    padding:0 9px
}
#respond span.required{
    font-size:16px;
    font-weight:bold;
}

/* Comment form inputs and textarea elements */
#respond input[type="text"],
#respond textarea{
    display:block;
    width:98.5%;
    font:normal normal normal 15px/20px "Lucida Grande","Lucida Sans Unicode","Trebuchet MS",Helvetica,Arial,sans-serif;;
    color:#818181;
    background:#e9e9e9;
    border:1px solid #e1e1e1;
    border-left:2px solid #e1e1e1
    }
#respond p.form-author input[type="text"]{
    width:90%
}
#respond p.form-email input[type="text"],
#respond p.form-email label{
    width:90%;
    float:right
}
.layout-3c-l #respond p.form-url input[type="text"],
.layout-3c-r #respond p.form-url input[type="text"],
.layout-3c-c #respond p.form-url input[type="text"],
.layout-3c-l #respond p.form-textarea textarea,
.layout-3c-r #respond p.form-textarea textarea,
.layout-3c-c #respond p.form-textarea textarea{
    width: 98.4%;
}
.layout-1c #respond p.form-url input[type="text"],
.layout-1c #respond p.form-textarea textarea{
    width: 99%;
}

/* Submit button */
#respond #submit{
    float:right;
    margin-bottom:25px;
    padding:11px 15px;
    font-size:15px;
    font-weight:bold;
    color:#fff;
    background:#61ADA3;
    border:none
}
#respond #submit:hover{
    background:#989898
}

/***/
/** Footer*/
/***************************************/
/* Main footer container */
#footer{
    clear:both;
    overflow:hidden; 
    width:100%; 
    height:26px; 
    padding:37px 0;
    border-top:10px solid #61ADA3
}

/* Inside footer container */
#footer .wrap{
    width:980px;
    margin:0 auto;
}
#footer .wrap a{
	font-family:Cabin;
    	font-weight: 400;
}

/* Copyright and credit sections */
#footer .copyright, #footer .credit{
    float:left;
    width:50%
}
#footer .credit{
    text-align:right
}

/***/
/** Layouts and site structure*/
/***************************************/
/* Body of the page */
body{
    padding:0;
    color:#818181;
    font-family: "Lucida Grande","Lucida Sans Unicode","Trebuchet MS",Helvetica,Arial,sans-serif;
}

/* Content and primary/secondary sidebar wrapper */
#main{
    width:980px;
    margin:0 auto
}

/* One column layout */
.layout-1c #content{
    width:980px
}

/* Two columns, content left and default layouts */
.layout-2c-l #content, .layout-default #content{
    float:left;
    width:630px
}
.layout-2c-l #sidebar-primary, .layout-default #sidebar-primary{
    float:right;
    width:325px
}
.layout-2c-l #sidebar-secondary, .layout-default #sidebar-secondary{
    clear:right;
    float:right;
    width:325px
}

/* Two columns, content right layout */
.layout-2c-r #content{
    float:right;
    width:630px
}
.layout-2c-r #sidebar-primary{
    float:left;
    width:325px
}
.layout-2c-r #sidebar-secondary{
    float:left;
    clear:left;
    width:325px
}

/* Three columns, content left layout */
.layout-3c-l #content{float:left; width:520px}
.layout-3c-l #sidebar-primary, .layout-3c-l #sidebar-secondary{
    clear:none;
    float:left;
    width:205px;
    margin-left:25px
}

/* Three columns, content right layout */
.layout-3c-r #content{float:right; width:520px}
.layout-3c-r #sidebar-primary, .layout-3c-r #sidebar-secondary{
    clear:none;
    float:left;
    width:205px;
    margin-right:25px
}

/* Three columns, content centered layout */
.layout-3c-c #content{
    float:left;
    margin-left:230px;
    width:520px
}
.layout-3c-c #sidebar-primary{
    float:left;
    margin-left:-750px;
    width:205px
}
.layout-3c-c #sidebar-secondary{
    float:right;
    width:205px
}
